# Disable server signature
ServerSignature Off

# Disable directory listing
IndexIgnore *

# Disable access to /vendor/*
RewriteRule ^(.*)/vendor/.*\.(php|rb|py)$ - [F,L,NC]
RewriteRule ^vendor/.*\.(php|rb|py)$ - [F,L,NC]

# Disable anything access to .htaccess, .env, etc
<FilesMatch "^\.">
  Order allow,deny
  Deny from all
</FilesMatch>